<form ngForm="user">

  <label for="project">Projekt</label>
  <select [(ngModel)]="newTimeEntry.projectId" name="project" id="project">
    <option *ngFor="let project of projects"
            [value]="project.id"
    >{{project.name}}</option>
  </select>

  <label for="user">User</label>
  <select [(ngModel)]="newTimeEntry.userId" name="user" id="user">
    <option *ngFor="let user of users"
            [value]="user.id"
    >{{user.firstName}} {{user.lastName}}</option>
  </select>

  <label for="startTime">Start</label>
  <input id="startTime" type="datetime-local" [(ngModel)]="newTimeEntry.startTime" name="startTime">

  <label for="endTime">Ende</label>
  <input id="endTime" type="datetime-local" [(ngModel)]="newTimeEntry.endTime" name="endTime">
</form>
<button (click)="addTimeEntry(newTimeEntry)">Add Time</button>


{{newTimeEntry | json}}

<div>
  <table>
    <tr *ngFor="let timeEntry of timeEntries">
      <td>
        {{timeEntry?.id}}
      </td>
      <td>
        {{timeEntry?.startTime}}
      </td>
      <td>
        {{timeEntry?.endTime}}
      </td>
      <td>
        {{timeEntry?.duration}}
      </td>
      <td>
        <button (click)="deleteTimeEntry(timeEntry)">löschen</button>
      </td>
    </tr>
  </table>
</div>


<div echarts [options]="chartOption" class="demo-chart"></div>
